.App {
  text-align: center;
  
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* ---------------Estilo propios sudoku--------------- */

body {
  background: rgb(89,89,92);
  background: linear-gradient(180deg, rgba(89,89,92,1) 0%, rgba(124,124,133,1) 5%, rgba(141,140,150,1) 11%, rgba(203,203,207,1) 27%, rgba(227,227,229,1) 30%, rgba(254,254,254,1) 68%, rgba(255,255,255,1) 100%);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.titulo{
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
.tablero_juego {
display: flex;
justify-content: center;
align-items: center;
}

table{
  border-collapse: collapse;
  border: 3px solid #e0e0e0;
  background-color: #e0e0e0;
}

td{
  padding: 0;
}
/* ---------------Estilos para cada celda--------------- */
.celda{
  width: 50px;
   height: 50px;
   font-size: 20px;  
   text-align: center;
   border: 1px solid rgb(145, 143, 143);
 }
 
 .activada{
  background-color:#f3c8a4 ;
}

.abBorde{
  border-bottom: 2px solid black;
}
.deBorder{
  border-right: 2px solid black;
}

/* ---------------Estilos para los botones--------------- */

.botones_arriba{
  display: flex;
  gap: 4rem;
}
.botones{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 10rem;
}

.botones_abajo{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.btn--opciones{
  background-color: #f1f1f1;;
  color: rgb(22, 22, 22);
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px 0 rgba(126, 125, 125, 0.2), 0 6px 20px 0 rgba(170, 169, 169, 0.19);
}
.btn--opciones:hover{
  background-color: #e79224;
}
.btn-dificultad:hover{
  background-color: #f1f1f1;
}
.btn-pausa{
  background-color: #e79224;
}


